   :root {
    height: 100%;
    width: 100%;
    overflow: hidden;
    --main-color:white;
    --main-font:"Terminus";
   } 
    * {
    margin: 0;
    padding: 0;
  
    }
    body {
        height: 100%;
        background-color: black;
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }

    .button {
        justify-content: center;
        display: flex;
        
    
    }

    .button__start {
        padding: 10px 50px;
        margin-right: 25%;
        margin-left: 25%;
        text-align: center;
        border-radius: 11px;
        background-color: transparent;
        border: none;
        color: var(--main-color);
        font-weight: bold;
        font-size: 250px;
        transition: all 0.3s ease;
    }
    
    .button__heart {
        display: inline-block;
        font-family: var(--main-font) !important;
        opacity: 1 !important;
        animation: heartBreak 1.2s infinite cubic-bezier(.07,.59,.05,.9);
    }

    .help {
        font-size: 25px;
        color: var(--main-color);
        font-family: var(--main-font);
        display: flex;
        justify-content: center;
    }

    .button__start:hover{
        text-shadow: 0 0 3px var(--main-color);
    }
    .fade-out {
    opacity: 0;
    transition: opacity 0.5s 0.2s ease ;
    pointer-events: none; 
}
    .terminal-line {
        display: flex;
        position: absolute;
        top:0%;
        white-space: pre-wrap;
        max-width: 90%;
    }

    .typewriter-text {
        color:var(--main-color);
        font-family: var(--main-font);
        font-size: 100px;
        line-height: 1.5;
        overflow-wrap: break-word;

    }
    .typewriter-text::after {
    content: "█"; /* Символ курсора */
    display: inline-block;
    animation: blink 1s infinite;
    color: var(--main-color);
    margin-left: 2px; /* Небольшой отступ от последней буквы */
    }
    .typewriter-text.hide-cursor::after {
    display: none;
}

    .cursor {
         color:var(--main-color);
        font-family: var(--main-font);
        animation:blink 1s infinite ease;
        font-size: 100px;
    }

    @font-face {
        font-family:"Terminus";
        src:url('./Fonts/TerminusTTFWindows-4.49.3.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: "Terminus";
        src: url('./Fonts/TerminusTTFWindows-Bold-4.49.3.ttf') format('truetype');
        font-weight: bold;
        font-style: normal;
    }
     @font-face {
        font-family:"Terminus" ;
        src:url('./Fonts/TerminusTTFWindows-Bold-Italic-4.49.3.ttf') format('truetype');
        font-weight: bold;
        font-style: italic;
    }
     @font-face {
        font-family:"Terminus" ;
        src:url('./Fonts/TerminusTTFWindows-Italic-4.49.3.ttf') format('truetype');
        font-weight: normal;
        font-style: italic;
    }
   
   @keyframes heartBreak { 
        0%{transform: scale(1);}
        5%{transform: scale(1.5);
        color:rgba(255, 0, 153, 0.657);}
        10%{transform: scale(1.3);}
        100%{transform: scale(1);}
   }
   @keyframes blink{
    0%{opacity: 1;}
    20%{opacity: 0;}
    60%{opacity: 0;}
    100%{opacity: 1;}
    
   }
   

@media (max-width: 768px) {
    

    .button__start {
        font-size: 120px; 
        margin-left: 0;
        margin-right: 0;
        padding: 10px;
    }


    .typewriter-text, .cursor {
        font-size: 35px; 
    }

    
    .terminal-line {
        max-width: 90%;
    }
}